body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
/* 头部 */
.top-box{
    width: 100%;
    height: 200px;
}
.swiper-container {
    width: 100%;
    height: 200px;
    --swiper-theme-color: #ff6600;
    --swiper-pagination-color: #000;/* 两种都可以 */
}

/* 内容 */
main{
    flex: 1;
    overflow-y: scroll;
    padding: 15px 20px;
    width: 100%;
  
}
/* 今日加打卡  */
.clockToday{
    display: flex;
    width:100%;
    height: 150px;
 
 
}
/*  今日排名*/
.today-box{
   display: flex;
   flex-direction: column;
    flex: 2;
    padding: 15px 5px;
    height: 150px;
    margin-right: 22px;
    border-radius: 15px;
    background: #545fd9;
}

.today-box p{
    flex: 1;
    font-size: 16px;
    font-weight: bold;
}
.father-box{
    display: flex;
   flex: 4;
    /* background: rgb(42, 90, 28); */
}
.num-box{
    flex: 1;
    text-align: center;
    line-height: 70px;
    color: #fff;
    font-size: 30px;
}
.icon-box{
 
  flex: 2;
  background: url("../imgs/index-card-rank.png")no-repeat;
  background-size: 100%;
}


/* 累计打卡 */
.clockIn{
    display: flex;
    flex-direction: column;
    flex:3;
    padding: 15px 5px;
    height: 150px;
    border-radius: 15px;
    background: #9ed9f7;
}
.fatherBox{
    display: flex;
    flex: 4;
     background: #9ed9f7;
}
.clockIn p{
    flex: 1;
    font-size: 16px;
    font-weight: bold;
}
.icon1-box{
    flex: 0.5;
    background: url("../imgs/index-card-sum.png")no-repeat;
    background-size: 100%;
  }
  .todayClock{
      display: flex;
      flex: 0.5;
      padding: 15px 0;
  }
  .todayClock p{
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    border-radius: 15px;
    border: 3px solid rgba(0, 81, 119, 100);
    background: #9ed9f7;
    display: block;
  }
/* 运动数据+累计徽章 */
.motionBadge{
    display: flex;
    width: 100%;
    height: 110px;

   
}
/* 运动数据 */
.sportData{
    padding: 10px 5px;
    flex: 0.5;
    background: url("../imgs/index-card-data.png")no-repeat;
    background-size: 100%;
    margin-right: 20px;
    border-radius: 15px; 
    margin-top: 3px;
    color: #fff;
  
}
/* 累计徽章 */
.badge{
    display: flex;
    flex-direction: column;
    flex: 0.5;
    padding: 15px 5px;
   
    border-radius: 15px; 
    background: #9dbde3;
}
.badge p{
    flex: 1;
    font-size: 14px;
    font-weight: bold;
}
.icon2-box{
   flex: 0.5;
    background: url("../imgs/index-card-badge.png")no-repeat;
    background-size: 100%;
     
  }
  .box{
     
     flex: 0.5;
      text-align: center;
      line-height: 50px;
      background: #9dbde3;
  }
  .box span{
      font-size: 50px;
      color: #000;
      font-weight: bold;
  }

/* 课程训练 */
.train-box{
    padding: 10px 5px; 
    width: 100%;
    height: 110px;
    border-radius: 15px;
    color: #fff;
    background: url('../imgs/index-swiper-bg2.jpg')no-repeat;
    background-size: 100%;
   
}
/* 户外跑步 */
.outdoorRun{
    padding: 10px 5px; 
    width: 100%;
    height: 110px;
    border-radius: 15px;
    
    color: #fff;
    background: url('../imgs/index-swiper-bg1.jpg')no-repeat;
    background-size: 100%;
}

